<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div>
    <form method="post" action="/">
        <input type="text" name="login" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="access" placeholder="Access level">
        <button type="submit">Create user</button>
    </form>
    <form method="post" action="/logInSystem">
        <input type="text" name="inLogin" placeholder="Username">
        <input type="text" name="inPassword" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>
    <div>List of users</div>
    {{#Users}}
        <div>
            <b>{{id}}</b>
            <span>{{login}}</span>
            <i>{{password}}</i>
            <i>{{access}}</i>
        </div>
    {{/Users}}
</body>
</html>



